<md-content ng-controller="tableCtrl">
    <mdt-table ng-if="loaded" mdt-row="{
                      data: data,
                      'column-keys': [
                          'id',
                          'name',
                          'crondef',
                          'command',
                          'description',
                          'active'
                      ]
                      }">
        <mdt-header-row>
            <mdt-column align-rule="left">ID</mdt-column>
            <mdt-column align-rule="right">name</mdt-column>
            <mdt-column align-rule="right">CronDef</mdt-column>
            <mdt-column align-rule="right">Command</mdt-column>
            <mdt-column align-rule="right">Description</mdt-column>
            <mdt-column align-rule="right">Active</mdt-column>
        </mdt-header-row>
    </mdt-table>
</md-content>